.progress {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

/* The slider itself */
.slider {
    appearance: none;
    width: 98px; /* Full-width */
    height: 4px; /* Specified height */
    background: white; /* Grey background */
    outline: none;
    border-radius: 99999px;
    opacity: 0.7;
}

/* Mouse-over effects */
.slider:hover {
    animation: scaleSlider 0.5s ease forwards;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: rgb(0, 162, 255);
    border-radius: 9999px;
}

.slider::-moz-range-thumb {
    width: 4px; /* Set a specific slider handle width */
    height: 4px; /* Slider handle height */
    background: blueviolet; /* Green background */
    border-radius: 9999px;
}

.tooltip {
    color: #d3d3d3;
    font-size: 0.8rem;
}

@keyframes scaleSlider {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}