#music-timer {
    width: 100%;
    height: 4px;
    background-color: #333333;
    margin-top: 1px;
    display: flex;
}

#completed {
    height: 4px;
    width: 60%;
    background-color: #2a8eb9;
}

#divider {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: red;
    overflow: hidden;
}