.navbar {
  background-color: rgb(20, 20, 20);
  color: white;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  grid-column: 1/13;
  height: 120px;
  box-shadow: 0px 2px 2px rgb(10, 10, 10);
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
}

.app-header {
  margin: 0px 0px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.fa-oopstify {
  color: white;
  font-size: 2rem;
  padding-left: 0px;
  padding-right: 50px;
  width: 45px;
  position: relative;
  padding-top: 14px;
}

.head {
  display: flex;
  align-content: center;
  justify-self: center;
}

.nav-links {
  position: absolute;
  right: 1rem;
  font-size: 1.8rem;
  color: white;
}

.nav-links > a > i:hover {
  cursor: pointer;
  color: #38bdf8;
}