.song-item.header {
    grid-row: 2/3;
    grid-column: 6/13;
    border-bottom: 1px solid #94a3b8;
    overflow-x: hidden;
}

.song-item.header > * {
    text-align: center;
}

.btn {
    height: 100%;
    width: fit-content;
    border: none;
}

.btn:hover {
    cursor: default;
}

.title {
    text-align: left;
}

.author {
    justify-self: center;
}

@media (max-width: 760px) {
    .song-item.header {
        grid-column: 1/13;
    }
}